{% extends 'core/customer/base.html' %}
{% block title %}Profile | {% endblock %}

{% load bootstrap5 %}

{% block main %}

<b class="text-secondary">Profile</b><br/>
<div class="card bg-white mt-2 mb-5">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      {% bootstrap_form user_form %}
      {% bootstrap_form customer_form %}
      <input type="hidden" name="action" value="update_profile"/>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

{% endblock %}
