{% extends 'core/base.html' %} 
{% block title %}Home | {% endblock %} 

{% block content %} 

{% load static %}

<head>
  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="{% static 'styles/home.css' %}"
  />
</head>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mt-5 mb-5">Welcome to Couriers 🤗</h1>
      <h5 class="text-center mt-5 mb-5">
        Get your packages delivered on time!!! 🕒✉️
      </h5>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Customers 📦</h5>
          <p class="card-text">
            Find the best delivery service for your packages and track them
            easily.
          </p>
          <a href="/customer/" class="btn btn-primary">Explore Services</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Track Your Shipments 🚚</h5>
          <p class="card-text">
            Monitor the status of your deliveries in real-time and ensure smooth
            operations.
          </p>
          <a href="/courier/" class="btn btn-primary">Track Shipments</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
