/* Custom Styles */
body {
  background-color: #f5f5f5; /* Very light background color */
}

/* Navbar Styles */
.navbar {
  background-color: #4caf50; /* Green navbar background color */
}

.navbar-brand {
  margin-right: 20px; /* Margin for navbar brand */
  transition: transform 0.3s ease; /* Smooth transition for navbar brand */
  font-size: x-large; /* Font size for navbar brand */
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand:hover {
  transform: scale(1.1); /* Scale effect on hover for navbar brand */
}

.navbar-nav {
  margin-left: auto; /* Move navbar elements to right */
}

.nav-item {
  margin-left: 15px; /* Margin between navbar items */
  transition: transform 0.3s ease; /* Smooth transition for navbar items */
  font-size: large; /* Font size for navbar items */
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item:hover {
  transform: scale(1.1); /* Scale effect on hover for navbar items */
}

/* Footer Styles */
footer {
  background-color: #343a40; /* Dark footer background color */
  color: #ffffff; /* White color for footer text */
  padding: 20px 0; /* Padding top and bottom */
}

/* Additional Styles for Navbar Text and Logout Button */
.navbar-text {
  margin-right: 15px; /* Margin for navbar text */
}

.navbar-text strong {
  color: #000000; /* Black color for navbar text */
}

.navbar-text a.btn {
  margin-left: 10px; /* Margin between navbar text and button */
}

@media (max-width: 767px) {
  .navbar-text {
    margin-right: 0; /* Remove margin for navbar text on small screens */
    margin-bottom: 10px; /* Add margin bottom for spacing */
  }

  .navbar-text a.btn {
    margin-left: 0; /* Remove margin for button on small screens */
    margin-top: 10px; /* Add margin top for spacing */
  }
}
